/* Button */
.new-project-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.section-header {
  cursor: pointer;
  font-weight: 500;
  color: #888;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  transform: scale(1);
}

.section-header:hover,
.section-header.active-tab {
  transform: scale(0.8); /* Hace que el texto se vea un poco más pequeño */
  color: var(--dark-purple);
}

.new-project-btn:hover {
  background-color: #6a1ab8;
  transform: translateY(-2px);
  color: white;
}

textarea.form-control:focus {
  border-color: var(--light-purple) !important; /* Cambia el color del borde al hacer foco */
   box-shadow: 0 0 0 0.2rem var(--light-purple) !important;
}
.date-input-custom:focus {
  border-color: var(--dark-purple);
  box-shadow: 0 0 0 0.2rem var(--light-purple); /* Sombra morada */
  outline: 0; /* Elimina el outline por defecto */
}

/* Opcional: Estilo base del input */
.date-input-custom {
  border: 1px solid var(--light-purple);
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-modal-width .modal-dialog {
  max-width: 700px; /* Cambia el ancho según necesites */
  width: 90%; /* O porcentaje */
}

.search-bar-container {
  position: relative;
  width: 250px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--accent-color);
  pointer-events: none;
}

.search-input {
  padding-left: 36px;
  border-color: #ccc;
}

.search-input:focus {
  border-color: var(--accent-color) !important;
  box-shadow: 0 0 0 0.2rem var(--light-purple) !important;
}